---
import Temp from "../components/Temp.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<!doctype html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />

		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, maximum-scale=1"
		/>

		<title>重庆网站建设_网站开发_SEO优化 - 青花卓越(qinghua.cloud)</title>
		<meta
			name="keywords"
			content="重庆网站建设,重庆网站开发,重庆企业建站,重庆SEO优化,重庆响应式网站,qinghua.cloud"
		/>
		<meta
			name="description"
			content="青花卓越(qinghua.cloud)专注重庆本地企业网站建设，提供低价快速建站、百度SEO优化、响应式设计服务，3天上线，助力中小企业数字化转型。"
		/>

		<meta name="geo.region" content="CN-CQ" />
		<meta name="geo.placename" content="重庆市渝中区" />
		<meta name="geo.position" content="29.5567;106.5528" />
		<meta name="ICBM" content="29.5567, 106.5528" />

		<meta name="robots" content="index,follow" />
		<link rel="canonical" href="https://www.qinghua.cloud/" />

		<meta name="author" content="青花卓越网站建设" />
		<meta name="copyright" content="©2024 青花卓越(qinghua.cloud)" />

		<base href="./" />

		<!-- 图标相关 -->
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/./assets/images/icons/apple-touch-icon.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/./assets/images/icons/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/./assets/images/icons/favicon-16x16.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="96x96"
			href="/./assets/images/icons/favicon-96x96.png"
		/>
		<!-- 已移除 manifest 引用 -->
		<link rel="shortcut icon" href="/./assets/images/icons/favicon.ico" />
		<meta name="msapplication-TileColor" content="#ffffff" />
		<meta
			name="msapplication-TileImage"
			content="./assets/images/icons/mstile-150x150.png"
		/>
		<meta name="theme-color" content="#ffffff" />

		<!-- 结构化数据 -->
		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "LocalBusiness",
				"name": "青花卓越网站建设",
				"alternateName": "qinghua.cloud",
				"image": "https://www.qinghua.cloud/assets/images/logo/qinghua-logo1024.png",
				"@id": "https://www.qinghua.cloud",
				"url": "https://www.qinghua.cloud",
				"telephone": "13640566324",
				"priceRange": "¥",
				"address": {
					"@type": "PostalAddress",
					"streetAddress": "重庆市渝中区",
					"addressLocality": "重庆",
					"addressRegion": "CQ",
					"postalCode": "400000",
					"addressCountry": "CN"
				},
				"openingHoursSpecification": {
					"@type": "OpeningHoursSpecification",
					"dayOfWeek": [
						"Monday",
						"Tuesday",
						"Wednesday",
						"Thursday",
						"Friday"
					],
					"opens": "09:00",
					"closes": "18:00"
				},
				"hasOfferCatalog": {
					"@type": "OfferCatalog",
					"name": "网站建设服务",
					"itemListElement": [
						{
							"@type": "Offer",
							"name": "企业展示型网站",
							"itemOffered": {
								"@type": "Service",
								"name": "响应式企业网站"
							}
						},
						{
							"@type": "Offer",
							"name": "营销型网站",
							"itemOffered": {
								"@type": "Service",
								"name": "SEO优化网站"
							}
						}
					]
				}
			}
		</script>
		<link
			rel="stylesheet"
			href="./assets/font/fontawesome/css/all.min.css"
		/>
	</head>
	<body>
		<Temp />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		padding: 0;
		background-color: rgb(200, 200, 200);
	}
</style>
