<!-- Waves.astro -->
<!-- 彩虹渐变波浪背景组件 -->

<!-- data 部分 -->
---
const waveData = {
  viewBox: "0 -10 200 40",
  gentleWavePath: "M 0,20 C 40,20 60,0 100,0 S 160,20 200,20 260,0 300,0 360,20 400,20 v 20 0 H 0 Z",
  curveWavePath: "M 0,20 C 40,20 60,0 100,0 S 160,20 200,20 260,0 300,0 360,20 400,20"
};
---

<!-- html 部分 -->
<div class="wave-content">
  <svg class="waves" xmlns="http://www.w3.org/2000/svg" viewBox={waveData.viewBox} preserveAspectRatio="none"
    width="100%" height="100%">
    <defs>
      <linearGradient id="rainbow-gradient" x1="0%" y1="0%" x2="100%" y2="0%">
        <stop offset="0%" stop-color="red" />
        <stop offset="16.6%" stop-color="orange" />
        <stop offset="33.3%" stop-color="yellow" />
        <stop offset="50%" stop-color="green" />
        <stop offset="66.6%" stop-color="blue" />
        <stop offset="83.3%" stop-color="indigo" />
        <stop offset="100%" stop-color="violet" />
      </linearGradient>
      <path id="gentle-wave" d={waveData.gentleWavePath} />
      <path id="curve-wave" d={waveData.curveWavePath} />
    </defs>
    <g class="parallax">
      <use xlink:href="#gentle-wave" y="-7" />
      <use xlink:href="#gentle-wave" y="-5" />
      <use xlink:href="#gentle-wave" y="-3" />
      <use xlink:href="#gentle-wave" y="0" />
    </g>
    <g class="text-wave">
      <!-- <use xlink:href="#curve-wave" stroke="url(#rainbow-gradient)" fill="none" stroke-width="0.3" /> -->
    </g>
  </svg>
</div>

<!-- css 部分 -->
<style>
:root {
  --wave-color: rgb(200, 200, 200);
}

.wave-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
}

.waves {
  display: block;
  width: 100%;
  /* height: 15vh; */
  min-height: 100px;
  max-height: 150px;
}

.waves .parallax > use,
.waves .text-wave {
  animation: move-forever 50s cubic-bezier(.55, .5, .45, .5) infinite;
}

.waves .parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 4s;
  fill: var(--wave-color);
  opacity: 0.4;
}

.waves .parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 3s;
  fill: var(--wave-color);
  opacity: 0.6;
}

.waves .parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 3s;
  fill: var(--wave-color);
  opacity: 0.8;
}

.waves .parallax > use:nth-child(4),
.waves .text-wave {
  animation-delay: -5s;
  animation-duration: 4s;
  fill: var(--wave-color);
  opacity: 1;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-200px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

</style>


