<!-- Header.astro -->
<!-- 头部组件 -->

<!-- data 部分 -->
---
import HeaderParallax from "../components/Header/HeaderParallax.astro";

---

<!-- html 部分 -->
<div>
  <HeaderParallax height="80vh"/>
</div>

<!-- css 部分 -->
<style>


